/*form.form-header button {
  float: left;
  width: 20%;
  color: white;
  font-size: 18px;
  border-left: none; /* Prevent double borders */
  /*cursor: pointer;

}

form.example button:hover {
  background: #0b7dda;
}*/
/*
position: absolute;
right: 850px;

width: 70px;
height: 100%;
background: linear-gradient(90deg,black,grey);
color: white;
border-radius: 40px;
font-size: 40px;
outline: none;
border: none;

}
form.form-header button:hover {
  background: #0b7dda;
}*/
